<mat-card fxLayout="column" fxLayoutGap="20px">
  <form fxLayout="column" fxLayoutGap="20px">
    <app-search-selector
      action="save"
      [alwaysShowLabel]="true"
      label="Brand"
      [fetchFn]="fetchBrandsFn"
      [primaryTextFn]="brandNameGetter"
      [formControl]="brandCtrl"
      (actionClick)="onAddBrandClicked($event)">
    </app-search-selector>
    <app-search-selector
      action="save"
      [alwaysShowLabel]="true"
      label="Product"
      [fetchFn]="fetchProductsFn"
      [primaryTextFn]="productNameGetter"
      [secondaryTextFn]="productBrandNameGetter"
      [formControl]="productCtrl"
      (actionClick)="onAddProductClicked($event)">
    </app-search-selector>
  </form>
  <section fxLayout="column" fxLayoutGap="20px">
    <form fxLayout="row" fxLayoutGap="20px">
      <mat-form-field appearance="fill" fxFlex="calc(100% / 3 - 20px)">
        <mat-label>Size</mat-label>
        <input matInput type="number" [formControl]="packageSizeCtrl">
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex="calc(100% / 3 - 20px)">
        <mat-label>Unit</mat-label>
        <input type="text"
               matInput
               [formControl]="unitCtrl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let u of units" [value]="u">
            {{ u }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button type="button"
              class="inline-form"
              mat-flat-button
              color="primary"
              fxFlex="calc(100% / 3 - 20px)"
              [disabled]="!itemForm.valid"
              (click)="onAddPackagingClick()">
        Add Packaging
      </button>
    </form>
    <mat-form-field appearance="fill">
      <mat-label>Available Packaging</mat-label>
      <mat-chip-list #chipList [disabled]="!(items$ | async)">
        <mat-chip *ngFor="let item of items$ | async">
          {{ item.packageSize }}{{ item.unit }}
        </mat-chip>
        <input matInput [matChipInputFor]="chipList" readonly>
      </mat-chip-list>
    </mat-form-field>
  </section>
</mat-card>