<mat-card>
  <form fxLayout="column" fxLayoutGap="20px" [formGroup]="form">
    <div fxLayout="row" fxLayoutGap="30px">
      <div fxFlex="calc(50% - 30px)">
        <mat-form-field appearance="fill">
          <mat-label>When was the visit?</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="transactionDateCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxFlex="calc(50% - 30px)">
        <app-search-selector label="Store" [fetchFn]="getFetchStoresFn()" [formControl]="storeCtrl">
          <div *appSearchDisplay="let store">
            <div class="product-name">{{ store.name }}</div>
            <div class="brand-name">{{ store.city }}</div>
          </div>
        </app-search-selector>
      </div>
    </div>
    <div>
      <app-search-selector label="Product" [fetchFn]="getFetchItemsFn()" [formControl]="itemCtrl">
        <div *appSearchDisplay="let item">
          <div class="product-name">{{ item.product.name }}</div>
          <div class="brand-name">{{ item.product.brand?.name || 'Unbranded' }} | {{ item.packageSize }}{{ item.unit }}</div>
        </div>
      </app-search-selector>
    </div>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let p of purchases$ | async">
      {{ p.item.product.name }} - {{ p.quantity }} * {{ p.price }}
    </mat-list-item>
  </mat-list>
</mat-card>