<mat-card fxLayout="column" fxLayoutGap="20px">
  <form fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="calc(50% - 20px)">
        <app-date-picker [formControl]="transactionDateCtrl" label="When was the visit?">
        </app-date-picker>
        <!-- <mat-form-field appearance="fill">
          <mat-label>When was the visit?</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="transactionDateCtrl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
      </div>
      <div fxFlex="calc(50% - 20px)">
        <app-search-selector
          label="Store"
          [fetchFn]="fetchStoresFn"
          [primaryTextFn]="storeNameGetter"
          [secondaryTextFn]="storeCityGetter"
          [formControl]="storeCtrl">
        </app-search-selector>
      </div>
    </div>
    <div>
      <app-search-selector fxFlex="1 1 100"
        action="new"
        label="Product"
        [fetchFn]="fetchItemsFn"
        [primaryTextFn]="itemProductNameGetter"
        [secondaryTextFn]="itemDetailsGetter"
        [formControl]="itemCtrl"
        (actionClick)="navigateToNewProduct()">
      </app-search-selector>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field appearance="fill" fxFlex="calc(100% / 3 - 20px)">
        <mat-label>Quantity</mat-label>
        <input type="number" matInput [formControl]="quantityCtrl">
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex="calc(100% / 3 - 20px)">
        <mat-label>Price</mat-label>
        <input type="number" matInput [formControl]="priceCtrl">
      </mat-form-field>
      <button type="button" class="inline-form" mat-flat-button color="primary" fxFlex="calc(100% / 3 - 20px)" (click)="onAddPurchaseClick()" [disabled]="!purchaseForm.valid">
        Add Purchase
      </button>
    </div>
  </form>
  <section fxLayout="column" fxLayoutGap="15px">
    <div *ngFor="let p of purchases$ | async" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <div class="primary-info">
          {{ p.item.product.name }}
        </div>
        <div class="secondary-info">
          {{ p.item.product.brand?.name || 'Unbranded' }} | {{ p.item.packageSize }}{{ p.item.unit }}
        </div>
      </div>
      <div class="connector" fxFlex="1 1 100"></div>
      <div fxLayout="column" fxLayoutAlign="center end">
        <div class="price">
          {{ p.price | currency: 'EUR' }}
        </div>
        <div class="quantity">
          Qty: {{ p.quantity }}
        </div>
      </div>
    </div>
  </section>
</mat-card>