<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center">
  <nav fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="10px" fxFlex="500px">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div>Groceries Tracker</div>
    <mat-menu #menu="matMenu">
      <a routerLink="/visit" routerLinkActive="active-link" mat-menu-item>
        <mat-icon>receipt_long</mat-icon>
        <span>Add Visit</span>
      </a>
      <a routerLink="/product" routerLinkActive="active-link" mat-menu-item>
        <mat-icon>local_grocery_store</mat-icon>
        <span>Add Product</span>
      </a>
    </mat-menu>
  </nav>
</mat-toolbar>
<mat-card>
  <router-outlet></router-outlet>
</mat-card>
