<main class="search-selector">
  <div *ngIf="value; then displaySelectedOption else selectOption"></div>
  <ng-template #displaySelectedOption>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>{{ alwaysShowLabel ? label : getSecondaryText(value!) }}</mat-label>
      <input matInput
             type="text"
             [value]="primaryTextFn(value!)"
             readonly>
      <button type="button" matSuffix mat-icon-button color="warn" (click)="onOptionSelected(null!)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </ng-template>
  <ng-template #selectOption>
    <mat-form-field appearance="fill">
      <input matInput
             type="text"
             (blur)="onTouched()"
             [placeholder]="label"
             [formControl]="inputCtrl"
             [matAutocomplete]="optionAutocomplete">
      <button *ngIf="action == 'save'" type="button" matSuffix mat-icon-button color="primary" (click)="actionClick.emit(inputCtrl.value)" [disabled]="!inputCtrl.value">
        <mat-icon>save_alt</mat-icon>
      </button>
      <button *ngIf="action == 'new'" type="button" matSuffix mat-icon-button color="primary" (click)="actionClick.emit()">
        <mat-icon>launch</mat-icon>
      </button>
      <mat-autocomplete class="custom-autocomplete" #optionAutocomplete="matAutocomplete" (optionSelected)="onOptionSelected($event.option.value)">
        <mat-option *ngFor="let option of searchResults$ | async" [value]="option">
          <div class="ss-primary" [class.extended]="!hasSecondaryText">{{ primaryTextFn(option) }}</div>
          <div class="ss-secondary" *ngIf="hasSecondaryText">{{ getSecondaryText(option) }}</div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </ng-template>
</main>
