mat-form-field {
  width: 100%;
}

mat-label {
  line-height: normal;
}

.custom-autocomplete {
  mat-option.mat-option {
    height: auto;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    &:not(:last-child) {
      border-bottom: solid 1px rgb(0, 0, 0, 0.1);
    }
  }
}

div.ss-primary {
  font-size: 0.9em;
  font-weight: 500;
  
  &.extended {
    padding-top: 10px;
    padding-bottom: 10px;   
  }
}

div.ss-secondary {
  font-size: 0.75em;
  color: rgb(0, 0, 0, 0.7);
}

