<div *ngIf="value; then displaySelectedOption else selectOption"></div>
<ng-template #displaySelectedOption>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Secondary text</mat-label>
    <input matInput
           type="text"
           value="Primary text"
           readonly>
    <button matSuffix mat-icon-button color="warn" (click)="value = null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</ng-template>
<ng-template #selectOption>
  <mat-form-field appearance="fill">
    <input matInput
           [placeholder]="label"
           type="text"
           [formControl]="inputCtrl"
           [matAutocomplete]="optionAutocomplete">
    <button matSuffix mat-icon-button color="primary">
      <mat-icon>add</mat-icon>
    </button>
    <mat-autocomplete class="custom-autocomplete" #optionAutocomplete="matAutocomplete" (optionSelected)="writeValue($event.option.value)">
      <mat-option *ngFor="let option of searchResults$ | async" [value]="option">
        <ng-container *ngTemplateOutlet="searchDisplayTemplate || defaultDisplay; context: {$implicit: option}">
        </ng-container>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-template>

<ng-template #defaultDisplay>
  {{ value }}
</ng-template>